#svelte-announcer.svelte-1j55zn5 {
    position: absolute;
    left: 0;
    top: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}
:root {
    background-color: #565656;
    font-size: 12px;
}
@media (min-width: 768px) {
    :root {
        font-size: 16px;
    }
}
body,
html {
    margin: 0;
    padding: 0;
    color: #eee;
}
a:link,
a:visited {
    color: #d4ff0d;
}
a:active,
a:hover {
    color: #fff;
}
#svelte,
body {
    height: 100vh;
}
#svelte {
    display: grid;
    display: grid;
    grid-template-rows: auto 3fr auto;
    grid-gap: 1rem;
}
footer,
header,
main {
    padding: 0 1rem;
}
main {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
}
.header-section {
    margin: 1rem 0;
}
input {
    font-family: monospace;
}
.input_transparent {
    font-size: 16px;
    background: 0 0;
    color: #d4ff0d;
    border: 2px solid #d4ff0d;
    padding: 0.5rem;
}
table {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-collapse: collapse;
}
@media (min-width: 768px) {
    table {
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    table {
        font-size: 2rem;
    }
}
table,
td,
th {
    border: 2px solid #d4ff0d;
}
td,
th {
    padding: 0.25rem;
    text-align: center;
}
tbody td {
    max-width: 25%;
}
.text-small {
    display: block;
    font-size: 1rem;
}
td .text-small {
    color: #bbb;
    line-height: 1.3;
}
footer {
    text-align: center;
    line-height: 1.6;
}
.display-none {
    display: none;
}
